/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Raleway:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&family=Raleway:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: 'Mulish', 'Ariel';
}

#cover-img {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/dbz.jpg");
    background-color: #EEEEEE;
    background-size: cover;
    /* background-color: blue; */
}

#cover-inner {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    /* border-radius: 10px; */
    background-color: #222831;
    padding-bottom: 50px;
    color: white;
}

#cover-title {
    font-size: 75px;
    font-family: 'Mulish', 'Ariel';
}

#cover-btn {
    width: 200px;
    height: 30px;
    margin-top: -40px;
    font-family: 'Mulish', 'Ariel';
    background-color: #FFD369;
    border: none;
    /* border-radius: 10px; */
}

#cover-btn:hover {
    cursor: pointer;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    display: flex;
    justify-content: space-around;
    /* border: solid 1px black; */
    padding: 10px;
    background-color: #222831;
}

#nav-ul li {
    display: inline;
    /* border: solid 1px white; */
}

#nav-ul li a {
    text-decoration: none;
    color: #EEEEEE;
    font-family: 'Mulish', 'Ariel';
    padding: 10px 75px;
}

#nav-ul li a:hover {
    background-color: #FFD369;
    color: black;
    transition: 0.5s;
}

.active {
    background-color: #FFD369;
    color: white;
}

.slide img {
    height: 300px;
    width: 400px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#carousel-title {
    margin-left: 10px;
    font-size: 30px;
    /* font-weight: bolder; */
}

.carousel {
    /* position: relative; */
    /* width: 50vw; */
    /* position: relative; */
    display: flex;
    margin: 0px auto;
    /* border: 1px solid black; */
    padding-left: 130px;
    /* align-items: center;
    justify-content: center; */
    padding-bottom: 500px;
    /* background-color: #222831; */
}

.carousel ul {
    list-style-type: none;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
    border: 2px solid #FFD369;
    width: 60vw;
    margin: auto;
    text-align: center;
    background-color: #222831;
    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px;
    color: white;
    /* padding-right: 50px; */
    /* padding: 1px 100px; */
    padding-bottom: 30px;
}

.slide[data-active] {
    opacity: 1;
}

.slide h3 {
    text-align: center;
    font-size: 30px;
}

.slide p {
    text-align: center;
    font-size: 19px;
}

.carousel-btn {
    position: relative;
    background: none;
    border: none;
    font-size: 35px;
    bottom: -12.5rem;
    z-index: 2;
    transform: translateY(-5%);
    cursor: pointer;
    color: #FFD369;
}

.carousel-btn:hover{
    color: white;
    transition: 0.7s;
    transition-delay: 0.05s;
}

.carousel-btn.prev {
    left: 180px;
    top: 270px;
}

.carousel-btn.next {
    right: -750px;
    top: 270px;
}

.latest-issue-box{
    /* border: 1px solid black; */
    padding-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 60px;
    padding-left: 10px;
    background-color: #222831;
    color: white;
    
}

.latest-issue-box img {
    width: 630px;
    /* height: 500px; */
}

.latest-issue-box .content{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.latest-issue-box p{
    margin-left: 10px;
    margin-top: 0px;
}
.latest-issue-box h3{
    color: #FFD369;
}
.latest-issue-box button {
    float: right;
    margin-right: 30px;
    width: 250px;
    height: 30px;
    font-family: 'Mulish', 'Ariel';
    background-color: #FFD369;
    border: none;
}

.latest-issue-box button:hover {
    cursor: pointer;
}

footer{
    border: solid 1px black;
    padding: 30px 0px;
    background-color: #222831;
    color: white;
    padding-left: 10px;
}

footer i{
    list-style-type: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;
}
.newsletter{
    float: right;
    margin-right: 70px;
    /* border: solid 1px white; */
    margin-top: -50px;
}

footer #trademark{
    color: #FFD369;
}

footer input{
    border: none;
    width: 300px;
    height: 25px;
    padding-left: 5px;
}

footer input::placeholder {
    font-family: 'Mulish', 'Ariel';
}

footer input:focus {
    outline: none;
    font-family: 'Mulish', 'Ariel';
}

footer button{
    height: 25px;
    font-size: 10px;
}
footer button i{
    color: black;
    font-size: 15px;
}

.newsletter{
    display: flex; 
    flex-direction: column;
}

/* .newsletter p{
    order: 2;
}

.newsletter input button {
    order: 1;
} */
