/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Raleway:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&family=Raleway:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: 'Mulish', 'Ariel';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#cover-img {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./dbz.jpg");
    background-color: #EEEEEE;
    background-size: cover;
    /* background-color: blue; */
}

#cover-inner {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    /* border-radius: 10px; */
    background-color: #222831;
    padding-bottom: 50px;
    color: white;
}

#cover-title {
    font-size: 75px;
    font-family: 'Mulish', 'Ariel';
}

#cover-btn {
    width: 200px;
    height: 30px;
    margin-top: -40px;
    font-family: 'Mulish', 'Ariel';
    background-color: #FFD369;
    border: none;
    /* border-radius: 10px; */
}

#cover-btn:hover {
    cursor: pointer;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    display: flex;
    justify-content: space-around;
    /* border: solid 1px black; */
    padding: 10px;
    background-color: #222831;
}

#nav-ul li {
    display: inline;
    /* border: solid 1px white; */
}

#nav-ul li a {
    text-decoration: none;
    color: #EEEEEE;
    font-family: 'Mulish', 'Ariel';
    padding: 10px 75px;
}

#nav-ul li a:hover {
    background-color: #FFD369;
    color: black;
    transition: 0.5s;
}

.active {
    background-color: #FFD369;
    color: white;
}

.slide img {
    height: 300px;
    width: 400px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#carousel-title {
    margin-left: 10px;
    font-size: 30px;
    /* font-weight: bolder; */
}

.carousel {
    /* position: relative; */
    /* width: 50vw; */
    /* position: relative; */
    display: flex;
    margin: 0px auto;
    /* border: 1px solid black; */
    padding-left: 130px;
    /* align-items: center;
    justify-content: center; */
    padding-bottom: 500px;
    /* background-color: #222831; */
}

.carousel ul {
    list-style-type: none;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
    border: 2px solid #FFD369;
    width: 60vw;
    margin: auto;
    text-align: center;
    background-color: #222831;
    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px;
    color: white;
    /* padding-right: 50px; */
    /* padding: 1px 100px; */
    padding-bottom: 30px;
}

.slide[data-active] {
    opacity: 1;
}

.slide h3 {
    text-align: center;
    font-size: 30px;
}

.slide p {
    text-align: center;
    font-size: 19px;
}

.carousel-btn {
    position: relative;
    background: none;
    border: none;
    font-size: 35px;
    bottom: -12.5rem;
    z-index: 2;
    transform: translateY(-5%);
    cursor: pointer;
    color: #FFD369;
}

.carousel-btn:hover {
    color: white;
    transition: 0.7s;
    transition-delay: 0.05s;
}

.carousel-btn.prev {
    left: 180px;
    top: 270px;
}

.carousel-btn.next {
    right: -750px;
    top: 270px;
}

.latest-issue-box {
    /* border: 1px solid black; */
    padding-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 60px;
    padding-left: 10px;
    background-color: #222831;
    color: white;

}

.latest-issue-box img {
    width: 630px;
    /* height: 500px; */
}

.latest-issue-box .content {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.latest-issue-box p {
    margin-left: 10px;
    margin-top: 0px;
}

.latest-issue-box h3 {
    color: #FFD369;
}

.latest-issue-box button {
    float: right;
    margin-right: 30px;
    width: 250px;
    height: 30px;
    font-family: 'Mulish', 'Ariel';
    background-color: #FFD369;
    border: none;
}

.latest-issue-box button:hover {
    cursor: pointer;
}

footer {
    border: solid 1px black;
    padding: 5px 0px;
    background-color: #222831;
    color: white;
    padding-left: 10px;
    margin-top: auto;
}

footer i {
    list-style-type: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;
    
}
.icons{
    /* border: 1px solid white; */
    padding-top: 10px;
    padding-left: 10px;
}

.newsletter {
    float: right;
    margin-right: 70px;
    /* border: solid 1px white; */
    margin-top: -50px;
}

footer #trademark {
    color: #FFD369;
}


.newsletter {
    display: flex;
    flex-direction: row;
}

#about-title{
    text-align: center;
    font-size: 50px;
}

.person-one{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin-top: 40px;
}

.person-one img{
    width: 200px;
    height: 200px;
    /* margin-left: 150px;
    margin-bottom: 50px; */
}

/* .section-one{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* padding-right: 50px; */
    /* padding-left: 50px; */
    /* padding-top: 50px; */
    /* padding: 0px 100px 30px 100px;
    align-items: center;
    justify-content: center; */
/* } */
/* .section-one h2{ */
    /* margin-left: 50px; */
/* } */

/* .section-two{
    text-align: center;
    padding: 45px 30px 0 30px;
    color: white;
    background-color: #222831;
}

.section-two em{
    color: #FFD369;
    position: relative;
    bottom: -50px;
}  */

.person-two{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 110px;
}

.person-two img {
    width: 200px;
    height: 200px;
    /* margin-left: 150px;
    margin-bottom: 50px; */
}

.profiles{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.profile-one{
    border-right: 3px solid #FFD369;
    flex: 1 1 0px;
    text-align: center;
}

.profile-one img{
    width: 400px;
    height: 300px;
}

.profile-two{
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-two img {
    width: 400px;
    height: 300px;
}

.about-sections{
    /* border: 1px solid black; */
    margin-top: 40px;
}

.section-one{
    padding: 10px;
    color: white;
    background-color: #222831;
}

.section-one h3{
    color: #FFD369;
}

.section-two{
    padding: 10px;
}

.section-two h3{
    text-align: end;
}

.section-three{
    padding: 10px;
    color: white;
    background-color: #222831;
    margin-bottom: 20px;
}

.section-three h3{
    color: #FFD369;
    text-align: center;
}

form{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    padding: 35px 50px;
    background-color: #222831;
    margin-bottom: 40px;
}

form label {
    font-size: 20px;
    color: #FFD369;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input{
    padding: 10px;
    font-family: 'Mulish', 'Ariel';
    font-size: 15px;
    color: black;
}

form input::placeholder{
    font-size: 15px;
    font-family: 'Mulish', 'Ariel';
    color: black;
}

form input:focus{
    outline: none;
}

form button{
    width: 30%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Mulish', 'Ariel';
    font-weight: bold;
    background-color: white;
    border: none;
}

form button:hover{
    background-color: #FFD369;
    transition: 0.5s;
    cursor: pointer;
}

@keyframes slideUpTop {
    from{
        transform: translateY(300px);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes slideUpBottom {
    from {
        transform: translateY(-300px);
    }

    to {
        transform: translateY(0);
    }
}

.profile-one img {
    animation-name: slideUpTop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

.profile-two img {
    animation-name: slideUpBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}
