<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="./script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="icon" type="img" href="./assets/quran-icon-png.png">
    <title>Vericane</title>
</head>

<body>
    <div id="cover-img">
        <div id="cover-inner">
            <h1 id="cover-title">Vericane</h1>
            <button id="cover-btn">Who are we</button>
        </div>
    </div>
    <nav>
        <ul id="nav-ul">
            <li><a href="#" class="nav-btn">Home</a></li>
            <li><a href="about.html" class="nav-btn">Issues</a></li>
            <li><a href="about.html" class="nav-btn">Podcast</a></li>
            <li><a href="{{ url_for('about_page')}}" class="nav-btn">About Us</a></li>
            <li><a href="about.html" class="nav-btn">Shop</a></li>
            <li><a href="about.html" class="nav-btn">Contact us</a></li>
        </ul>
    </nav>
    <h2 id="carousel-title">Magazine Release Photos</h2>

    <section aria-label="Newest Photos">
        <div class="carousel" data-carousel>
            <button class="carousel-btn prev" data-carousel-btn="prev"><i
                    class="fa-solid fa-arrow-left-long"></i></button>
            <button class="carousel-btn next" data-carousel-btn="next"><i
                    class="fa-solid fa-arrow-right-long"></i></button>
            <ul data-slides>
                <li class="slide" id="slide1" data-active>
                    <h3>title 1</h3>
                    <img src="../static/hunter-x-hunter.jpg" alt="hxh">
                    <p>caption 1</p>
                </li>
                <li class="slide" id="slide2">
                    <h3>title 2</h3>
                    <img src="../static/tanjiro.jpg" alt="tanjiro">
                    <p>caption 2</p>
                </li>
                <li class="slide" id="slide3">
                    <h3>title 3</h3>
                    <img src="../static/naruto.jpg" alt="naruto">
                    <p>caption 3</p>
                </li>
            </ul>
        </div>
    </section>
    <h2 id="carousel-title">Latest Issue</h2>
    <div class="latest-issue-box">
        <h3>Title</h3>
        <div class="content">
            <img src="../static/tanjiro.jpg" alt="tanjiro">
            <p>Donec sed finibus ante. Praesent molestie nulla vel nisi laoreet ultrices. Aliquam hendrerit ex eget
                massa mollis, et
                porttitor urna fringilla. In hac habitasse platea dictumst. Quisque pretium consequat elit, et vehicula
                neque
                ullamcorper ullamcorper. Phasellus eleifend tortor id tortor hendrerit convallis. Maecenas lobortis
                purus purus, eu
                finibus urna congue a. Proin convallis ipsum non aliquet bibendum. Integer sit amet nulla et dolor
                sagittis
                pellentesque. Sed pharetra mi at nisl laoreet dictum. Phasellus egestas quis enim nec maximus. Interdum
                et malesuada
                fames ac ante ipsum primis in faucibus. Donec nec sollicitudin nulla. Suspendisse nisi libero, consequat
                ut tellus sed,
                aliquam pretium odio.
                Donec sed finibus ante. Praesent molestie nulla vel nisi laoreet ultrices. Aliquam hendrerit ex eget
                massa mollis, et
                porttitor urna fringilla. In hac habitasse platea dictumst. Quisque pretium consequat elit, et vehicula
                neque
                ullamcorper ullamcorper. Phasellus eleifend tortor id tortor hendrerit convallis. Maecenas lobortis
                purus purus, eu
                finibus urna congue a. Proin convallis ipsum non aliquet bibendum. Integer sit amet nulla et dolor
                sagittis
                pellentesque. Sed pharetra mi at nisl laoreet dictum. Phasellus egestas quis enim nec maximus. Interdum
                et malesuada
                fames ac ante ipsum primis in faucibus. Donec nec sollicitudin nulla. Suspendisse nisi libero, consequat
                ut tellus sed,
                aliquam pretium odio.</p>

        </div>
        <button>Click Here To Read The Full Issue</button>
    </div>

    <footer>
        <p id="trademark">VERICANE &#169; 2023 by Vericane Magazine & Aminu-Bassai Group</p>
        <a href="http://"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="http://"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="http://"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-square-youtube" target="_blank" rel="noopener noreferrer"></i></a>
        <a href="http://"><i class="fa-brands fa-spotify"></i></a>

        
        <div class="newsletter">
            <p id="newsletter-txt">Enter Your Email Below To Sign Up To The Vericane Newsletter</p>
            <form action="newsletter" method="get">
                <input type="text" placeholder="Your Email Here" name="email"/>
                <input type="submit" value="Submit" id="submit">
            </form>
        </div>
    </footer>
</body>

</html>
