<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vericane | People</title>
</head>
<body>
    <div id="user">
        <h2>Details</h2>
        {% for item in values %}
            <p>first name: {{item.firstName}}</p>
            <p>last name: {{item.lastName}}</p>
            <p>email: {{item.email}}</p>
            <p>business: {{item.business}}</p>
            <p>reason for contact: {{item.reason}}</p>
            --------------------------------------
        {% endfor %}
    </div>
</body>
</html>
